doctype
html(ng-app="app")
  head
    base(href="/")
    link(rel="stylesheet" href="/assets/css/prototype.css")
    link(rel="stylesheet" href="/assets/css/style.css")
    link(rel="stylesheet" href="/assets/css/menu.css")
    link(rel="stylesheet" href="/assets/css/custom.css")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    link(href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700" rel="stylesheet" type="text/css")
  body
    section#header-bar
      img.sc-m-sm(src="https://www.seucondominio.com.br/assets/institucional/logo-mobile-c07a4de0cd57b02cf5eaffefcda8d48e.png" style="width:8.5em")

    section#main-page
      #main-content
        !=yield

    .sc-top-messages.ng-cloak.ng-animation-slider(ng-click="scTopMessages.close()" ng-cloak ng-show="scTopMessages.toggler.opened")
      div(class="sc-text-white align-center sc-text-shadow-dark flex align-items-center {{scTopMessages.theme}}")
        .sc-top-messages-msgs.sc-cursor-default
          p(ng-repeat="msg in scTopMessages.messages track by $index") {{msg}}
        .sc-top-messages-close-button
          i.sc-icon.sc-icon-fechar-1.sc-cursor-pointer

    .sc-alert.ng-cloak(ng-cloak ng-show="scAlert.toggler.opened" ng-class="{'active': scAlert.toggler.opened}")
      .sc-alert-box
        h2.sc-alert-title {{scAlert.title}}
        .sc-alert-messages(ng-show="scAlert.messages.length")
          p(ng-repeat="msg in scAlert.messages track by $index" ng-bind-html="msg")
        .sc-alert-buttons
          button(ng-repeat="btn in scAlert.buttons" class="sc-btn sc-btn-{{btn.color}} sc-btn-block-only-xs" ng-click="scAlert.btnAction(btn)" type="button") {{btn.label}}

    script(src="/assets/js/modernizr.js")
    script(src="/assets/js/prototype.js")
    script(src="/assets/js/menu.js")
    script(src="/assets/js/app.js")
    script(src="/assets/js/script.js")
