div(ng-controller='Uikit::ScTooltip')

  #conteudo
    .sc-bg-white.sc-p-xxxl
      .sc-p-xl
        label(style="line-height:1.8em").col-xs-6
          input(type="checkbox" ng-model="useScTooltipPosition" ng-init="useScTooltipPosition = true").sc-checkbox.sc-checkbox-blue
          span  Posição do Tooltip
        .col-xs-6(ng-show="useScTooltipPosition" style="line-height:1.8em")
          span .sc-tooltip-
          select(ng-model="scTooltipPosition" ng-init="scTooltipPosition = 'top'" ng-options="position for position in positions")
        .clear

        label(style="line-height:1.8em").col-xs-6
          input(type="checkbox" ng-model="useScTooltipSize").sc-checkbox.sc-checkbox-blue
          span  Largura do Tooltip
        .col-xs-6(ng-show="useScTooltipSize" style="line-height:1.8em")
          span .sc-tooltip-
          select(ng-model="scTooltipSize" ng-init="scTooltipSize = 'lg'" ng-options="size for size in sizes")
        .clear

        label(style="line-height:1.8em").col-xs-6
          input(type="checkbox" ng-model="useScTooltipAlways").sc-checkbox.sc-checkbox-blue
          span  Mater Tooltip Ativo
        .col-xs-6(ng-show="useScTooltipAlways" style="line-height:1.8em")
          span .sc-tooltip-always
        .clear

        .col-xs-12.sc-p-t-lg
          | Conteúdo
          div
            textarea(ng-model="conteudo" rows="2" cols="50")
        .clear

    .sc-bg-white.sc-p-xxxl.align-center.sc-border-h-gray-light-dashed-md
      .sc-p-xxxl
        button(sc-tooltip="{{conteudo}}" ng-class="classes()").sc-btn Passe o mouse aqui

    .sc-bg-white.sc-p-xxxl
      .sc-inspect-box
        pre
          | &lt;button <b class="sc-text-blue">class=&quot;{{classes()}}&quot;</b> <b class="sc-text-red">sc-tooltip=&quot;{{conteudo}}&quot;</b>&gt;
          |   Passe o mouse aqui
          | &lt;/button&gt;
      .clear
