<ul typeahead-prevent-scroll
    class="typeahead-dropdown-menu"
    ng-show="isOpen()"
    ng-style="{top: position.top+'px', left: position.left+'px', width: position.width+'px'}"
    role="listbox"
    aria-hidden="{{!isOpen()}}">
  <!-- lista agrupada -->
  <li ng-if="groups" ng-repeat="(group, idx_list) in groups" class="group-list">
    <h1 ng-if="group" ng-bind="group"></h1>
    <ul>
      <li ng-repeat="idx in idx_list track by $index"
          ng-class="{active: isActive(idx) }"
          ng-class-even="'even'"
          ng-mouseenter="selectActive(idx)"
          ng-click="selectMatch(idx);$event.stopPropagation();"
          role="option"
          class="match-list"
          id="{{matches[idx].id}}">

        <div typeahead-match
             index="idx"
             match="matches[idx]"
             query="query"
             template-url="templateUrl">
        </div>
      </li>

    </ul>
  </li>

  <!-- lista não agrupada -->
  <li ng-if="!groups" ng-repeat="match in matches track by $index"
      ng-class="{active: isActive($index) }"
      ng-class-even="'even'"
      ng-mouseenter="selectActive($index)"
      ng-click="selectMatch($index);$event.stopPropagation();"
      role="option"
      class="match-list"
      id="{{match.id}}">

    <div typeahead-match
         index="$index"
         match="match"
         query="query"
         template-url="templateUrl">
    </div>
  </li>
</ul>
