<a tabindex="-1" ng-switch="match.type">
  <div ng-switch-when="new-record" class="new-record">
    <span><i class="sc-icon sc-icon-mais-2"></i></span>
    <span class="pre-text">Adicionar</span>
    <span ng-bind="match.label"></span>
  </div>
  <div ng-switch-when="no-records" class="no-records">
    <span><i class="sc-icon sc-icon-exclamacao-2 sc-m-r-md"></i></span>
    <span ng-bind="match.label"></span>
  </div>
  <span ng-switch-default ng-bind-html="match.label | scHighlight:query"></span>
</a>
