
<a tabindex="-1" ng-switch="match.type" class="sc-system">
  <div ng-switch-when="no-records" class="no-records">
    <span><i class="sc-icon sc-icon-exclamacao-2"></i></span>
    <span ng-bind="match.label"></span>
  </div>
  <div ng-switch-default class="row sc-p-sm">
    <div class="sc-align-middle">
      <div style="width:4em" class="align-center">
        <img ng-src="{{match.model.logo.dropsearch}}" ng-if="match.model.logo" class="sc-border-radius">
        <div ng-if="!match.model.logo" class="sc-border-radius-full">
          <i class="sc-icon sc-icon-casa-1 sc-text-xxl"></i>
        </div>
      </div>

      <div class="sc-p-l-sm" ng-bind-html="match.model.nome | scHighlight:query"></div>
    </div>
  </div>
</a>
