<a tabindex="-1" ng-switch="match.type">
  <div ng-switch-when="new-record" class="new-record">
    <span><i class="sc-icon sc-icon-mais-2"></i></span>
    <span class="pre-text">Adicionar</span>
    <span ng-bind="match.label"></span>
  </div>
  <div ng-switch-when="no-records" class="no-records">
    <span><i class="sc-icon sc-icon-exclamacao-2"></i></span>
    <span ng-bind="match.label"></span>
  </div>
  <div ng-switch-default class="row">
    <div style="width:60px;float: left; margin: 2px 5px; -webkit-box-shadow: 0 1px 2px #333; box-shadow: 0 1px 2px #333; -webkit-border-radius: 4px; border-radius: 4px; font-size: .7em; line-height: 1em;background-color:white;text-align:center">
      <i class="sc-icon sc-icon-camera-2" style="font-size:3em;color:#dedede" ng-hide="match.model.image_thumb_path"></i>
      <img style="width:60px;" ng-src="{{match.model.image_thumb_path}}" ng-if="match.model.image_thumb_path" />
    </div>

    <div style="float: left;line-height: 15px;">
      <div ng-bind-html="match.model.nome | scHighlight:query"></div>
      <div style="font-size:0.8em;color:#333" ng-bind-html="match.model.obs | scHighlight:query" ng-show="match.model.obs"></div>
    </div>
  </div>
</a>
