
<a tabindex="-1" ng-switch="match.type">
  <div ng-switch-when="no-records" class="no-records">
    <span><i class="sc-icon sc-icon-exclamacao-2"></i></span>
    <span ng-bind="match.label"></span>
  </div>
  <div ng-switch-default>
    <div style="float: left;line-height: 15px;">
      <div ng-bind-html="match.model.nome_completo | scHighlight:query"></div>
    </div>
  </div>
</a>
