$tooltip-color: #383838;
$tooltop-sm: 8em;
$tooltop-md: 14em;
$tooltop-lg: 20em;

/**
 *
 * Defines the basic styling for the tooltip.
 * Each tooltip is made of 2 parts:
 *  1) body (:after)
 *  2) arrow (:before)
 *
 * Classes added:
 *  1) hint
 */
[sc-tooltip] {
  position: relative;
  display: inline-block;
  &:before, &:after {
    position: absolute;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: hidden;
    opacity: 0;
    z-index: 1000000;
    pointer-events: none;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    transition: 0.3s ease;
    -webkit-transition-delay: 0ms;
    -moz-transition-delay: 0ms;
    transition-delay: 0ms;
  }
  &:hover:before, &:hover:after {
    visibility: visible;
    opacity: 1;
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    transition-delay: 100ms;
  }
  &:before {
    content: '';
    position: absolute;
    background: transparent;
    border: 6px solid transparent;
    z-index: 1000001;
  }
  &:after {
    content: attr(sc-tooltip);
    background: $tooltip-color;
    color: white;
    padding: 8px 10px;
    font-size: 12px;
    line-height: 1.4em;
    white-space: nowrap;
    border-radius: .4em;
  }
}

[sc-tooltip=''] {
  &:before, &:after { display: none !important; }
}

.sc-tooltip-top-left:before     { border-top-color:    $tooltip-color; }
.sc-tooltip-top-right:before    { border-top-color:    $tooltip-color; }
.sc-tooltip-top:before          { border-top-color:    $tooltip-color; }
.sc-tooltip-bottom-left:before  { border-bottom-color: $tooltip-color; }
.sc-tooltip-bottom-right:before { border-bottom-color: $tooltip-color; }
.sc-tooltip-bottom:before       { border-bottom-color: $tooltip-color; }
.sc-tooltip-left:before         { border-left-color:   $tooltip-color; }
.sc-tooltip-right:before        { border-right-color:  $tooltip-color; }

/**
 * [default] and top tooltip
 */
[sc-tooltip]:not(.sc-tooltip-top-left)
:not(.sc-tooltip-top-right)
:not(.sc-tooltip-bottom-left)
:not(.sc-tooltip-bottom-right)
:not(.sc-tooltip-bottom)
:not(.sc-tooltip-left)
:not(.sc-tooltip-right),
.sc-tooltip-top {
  &:before, &:after {
    bottom: 100%;
    left: 50%;
  }

  &:before {
    left: calc(50% - 6px);
    margin-bottom: -11px;
    border-top-color:    $tooltip-color;
  }

  &:after {
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  &:hover:before, &:focus:before {
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  &:hover:after, &:focus:after {
    -webkit-transform: translateX(-50%) translateY(-8px);
    -moz-transform: translateX(-50%) translateY(-8px);
    transform: translateX(-50%) translateY(-8px);
  }
}

/**
 * bottom tooltip
 */
.sc-tooltip-bottom {
  &:before, &:after {
    top: 100%;
    left: 50%;
  }

  &:before {
    left: calc(50% - 6px);
    margin-top: -11px;
  }

  &:after {
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  &:hover:before, &:focus:before {
    -webkit-transform: translateY(8px);
    -moz-transform: translateY(8px);
    transform: translateY(8px);
  }

  &:hover:after, &:focus:after {
    -webkit-transform: translateX(-50%) translateY(8px);
    -moz-transform: translateX(-50%) translateY(8px);
    transform: translateX(-50%) translateY(8px);
  }
}

/**
 * right tooltip
 */
.sc-tooltip-right {
  &:before {
    margin-left: -11px;
    margin-bottom: -6px;
  }

  &:after {
    margin-bottom: -14px;
  }

  &:before, &:after {
    left: 100%;
    bottom: 50%;
  }

  &:hover:before, &:focus:before {
    -webkit-transform: translateX(8px);
    -moz-transform: translateX(8px);
    transform: translateX(8px);
  }

  &:hover:after, &:focus:after {
    -webkit-transform: translateX(8px);
    -moz-transform: translateX(8px);
    transform: translateX(8px);
  }
}

/**
 * left tooltip
 */
.sc-tooltip-left {
  &:before {
    margin-right: -11px;
    margin-bottom: -6px;
  }

  &:after {
    margin-bottom: -14px;
  }

  &:before, &:after {
    right: 100%;
    left: auto;
    bottom: 50%;
  }

  &:hover:before, &:focus:before {
    -webkit-transform: translateX(-8px);
    -moz-transform: translateX(-8px);
    transform: translateX(-8px);
  }

  &:hover:after, &:focus:after {
    -webkit-transform: translateX(-8px);
    -moz-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}

/**
 * top-left tooltip
 */
.sc-tooltip-top-left {
  &:before, &:after {
    bottom: 100%;
    left: 50%;
  }

  &:before {
    margin-bottom: -11px;
    left: calc(50% - 6px);
  }

  &:after {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
    margin-left: 12px;
  }

  &:hover:before, &:focus:before {
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  &:hover:after, &:focus:after {
    -webkit-transform: translateX(-100%) translateY(-8px);
    -moz-transform: translateX(-100%) translateY(-8px);
    transform: translateX(-100%) translateY(-8px);
  }
}

/**
 * top-right tooltip
 */
.sc-tooltip-top-right {
  &:before, &:after {
    bottom: 100%;
    left: 50%;
  }

  &:before {
    margin-bottom: -11px;
    left: calc(50% - 6px);
  }

  &:after {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
    margin-left: -12px;
  }

  &:hover:before, &:focus:before {
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  &:hover:after, &:focus:after {
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

/**
 * bottom-left tooltip
 */
.sc-tooltip-bottom-left {
  &:before, &:after {
    top: 100%;
    left: 50%;
  }

  &:before {
    margin-top: -11px;
    left: calc(50% - 6px);
  }

  &:after {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
    margin-left: 12px;
  }

  &:hover:before, &:focus:before {
    -webkit-transform: translateY(8px);
    -moz-transform: translateY(8px);
    transform: translateY(8px);
  }

  &:hover:after, &:focus:after {
    -webkit-transform: translateX(-100%) translateY(8px);
    -moz-transform: translateX(-100%) translateY(8px);
    transform: translateX(-100%) translateY(8px);
  }
}

/**
 * bottom-right tooltip
 */
.sc-tooltip-bottom-right {
  &:before, &:after {
    top: 100%;
    left: 50%;
  }

  &:before {
    left: calc(50% - 6px);
    margin-top: -11px;
  }

  &:after {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
    margin-left: -12px;
  }

  &:hover:before, &:focus:before {
    -webkit-transform: translateY(8px);
    -moz-transform: translateY(8px);
    transform: translateY(8px);
  }

  &:hover:after, &:focus:after {
    -webkit-transform: translateY(8px);
    -moz-transform: translateY(8px);
    transform: translateY(8px);
  }
}

/**
 * sizes tooltip
 */
.sc-tooltip-sm,
.sc-tooltip-md,
.sc-tooltip-lg {
  &:after {
    white-space: normal;
  }
}

.sc-tooltip-sm:after { width: $tooltop-sm; }
.sc-tooltip-md:after { width: $tooltop-md; }
.sc-tooltip-lg:after { width: $tooltop-lg; }

/**
 * keep always tooltip
 */
.sc-tooltip-always {
  &:after, &:before {
    opacity: 1;
    visibility: visible;
  }

  &[sc-tooltip]:not(.sc-tooltip-top-left)
  :not(.sc-tooltip-top-right)
  :not(.sc-tooltip-bottom-left)
  :not(.sc-tooltip-bottom-right)
  :not(.sc-tooltip-bottom)
  :not(.sc-tooltip-left)
  :not(.sc-tooltip-right),
  &.sc-tooltip-top {
    &:before {
      -webkit-transform: translateY(-8px);
      -moz-transform: translateY(-8px);
      transform: translateY(-8px);
    }

    &:after {
      -webkit-transform: translateX(-50%) translateY(-8px);
      -moz-transform: translateX(-50%) translateY(-8px);
      transform: translateX(-50%) translateY(-8px);
    }
  }

  &.sc-tooltip-top-left {
    &:before {
      -webkit-transform: translateY(-8px);
      -moz-transform: translateY(-8px);
      transform: translateY(-8px);
    }

    &:after {
      -webkit-transform: translateX(-100%) translateY(-8px);
      -moz-transform: translateX(-100%) translateY(-8px);
      transform: translateX(-100%) translateY(-8px);
    }
  }

  &.sc-tooltip-top-right {
    &:before {
      -webkit-transform: translateY(-8px);
      -moz-transform: translateY(-8px);
      transform: translateY(-8px);
    }

    &:after {
      -webkit-transform: translateY(-8px);
      -moz-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }

  &.sc-tooltip-bottom {
    &:before {
      -webkit-transform: translateY(8px);
      -moz-transform: translateY(8px);
      transform: translateY(8px);
    }

    &:after {
      -webkit-transform: translateX(-50%) translateY(8px);
      -moz-transform: translateX(-50%) translateY(8px);
      transform: translateX(-50%) translateY(8px);
    }
  }

  &.sc-tooltip-bottom-left {
    &:before {
      -webkit-transform: translateY(8px);
      -moz-transform: translateY(8px);
      transform: translateY(8px);
    }

    &:after {
      -webkit-transform: translateX(-100%) translateY(8px);
      -moz-transform: translateX(-100%) translateY(8px);
      transform: translateX(-100%) translateY(8px);
    }
  }

  &.sc-tooltip-bottom-right {
    &:before {
      -webkit-transform: translateY(8px);
      -moz-transform: translateY(8px);
      transform: translateY(8px);
    }

    &:after {
      -webkit-transform: translateY(8px);
      -moz-transform: translateY(8px);
      transform: translateY(8px);
    }
  }

  &.sc-tooltip-left {
    &:before {
      -webkit-transform: translateX(-8px);
      -moz-transform: translateX(-8px);
      transform: translateX(-8px);
    }

    &:after {
      -webkit-transform: translateX(-8px);
      -moz-transform: translateX(-8px);
      transform: translateX(-8px);
    }
  }

  &.sc-tooltip-right {
    &:before {
      -webkit-transform: translateX(8px);
      -moz-transform: translateX(8px);
      transform: translateX(8px);
    }

    &:after {
      -webkit-transform: translateX(8px);
      -moz-transform: translateX(8px);
      transform: translateX(8px);
    }
  }
}




.sc-inspect-box {
  border-radius: 0.3em;
  background: #f3f3f4;
  display: block;
  max-height: 30em;
  overflow: auto;
  color: #7d858c;
  border-color: #7d858c;
  border-style: solid;
  border-width: 1px;
  padding: 0.6em;
  margin: 0.6em;
}

.sc-inspect-box pre {
  width: 100%;
  font-weight: normal;
}
