$alturaTopMenu: 3.75em;

body {background-color: #f3f3f4 }
img {display: block;}

#top-menu {
  height: $alturaTopMenu;
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
}

#top-bar {
  transition: all .3s;
  z-index: 99;
  position: relative;
  #top-bar-content {
    position: fixed;
    width: 100%;
    top: $alturaTopMenu;
    &.fixed {
      box-shadow: 0 0 .3em rgba(0, 0, 0, .3);
    }
  }
}

.flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}
.flexbox {
  flex: 0 0 2em;
}
.wrap {
  flex-wrap: wrap;
}

@media (min-width: 640px) {
  #top-menu, #top-bar-content {
    transition: all .3s;
  }
}

.zebra {
  color: #337ab7;
  > * {
    background: #F6FAFE;
    &:nth-of-type(even) { background: #E0F0FC; }
    &:hover { background: #C7E4F9; }
  }
}

.sc-loading {
  position: fixed;
  z-index: 999999;
  top: 50%;
  left: 50%;
  font-size: 1.5em;
  width: auto;
  padding: 1em 1.3em;
  text-align: center;
  background-color: rgba(#cae2f6, 0.95);
  color: sc-color("blue");
  border-radius: .3em;
  opacity: 0;
  cursor: wait;
  visibility: hidden;
  box-shadow: .01em .06em .2em rgba(0, 0, 0, .2);
  transform: translate(-50%, -100%);
  transition: all .3s;
  &.active {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%);
  }
}
.sc-loading-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 98;
  cursor: wait;
  opacity: 0;
  background-color: rgba(#000, .15);
  transition: all .3s;
  &.active {
    opacity: 1;
  }
}

input.typeahead-combo{
  cursor: pointer;
  padding-right: 1.8em;
  background-image: asset-url('typeahead/combo-tick.svg');
  background-size: contain;
  background-position: right center;
  background-repeat: no-repeat;
}
input.typeahead-search{
  padding-left: 1.8em;
  background-image: url('typeahead/search.svg');
  background-size: .8em;
  background-position: 0.5em center;
  background-repeat: no-repeat;
}
.typeahead-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  float: left;
  min-width: 160px;
  margin: 1px 0 0;
  list-style: none;
  font-size: 1em;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 8px rgba(0,0,0,.2);
  box-shadow: 0 5px 8px rgba(0,0,0,.2);
  background-clip: padding-box;
  max-height: 18em;
  overflow-y:auto;
  border-radius: .2em;
}
.typeahead-dropdown-menu>li.group-list>h1{
  color:#333;
  margin: .1em .2em;
  clear: both;
}
.typeahead-dropdown-menu>li.match-list,
.typeahead-dropdown-menu>li.group-list>ul>li.match-list{
  &>a {
    display: block;
    padding: .6em .8em;
    line-height: 1.42857143;
    color: #0078C1;
    background-color: #f7f7f7;
    .sc-icon {margin-right: .4em}
    &>span.index{
      border: 1px solid red;
      background-color: yellow;
      padding: .2em;
      font-size: 1.2em;
      margin: .2em;
      margin-right: .6em;
      display: inline-block;
      min-width: 1.8em;
      text-align: center;
      border-radius: .4em;
    }
    &>div.no-records{
      font-weight: normal;
    }
    &>div.new-record,&>div.no-records{
      display: table;
      &>span,&>i{
        display:table-cell;
        vertical-align: middle;
      }
      &>span.pre-text{
        font-weight: normal;
        padding-right: .2em;
      }
    }
    & b.highlight{
      background-color: #BBD2E6;
      padding: 0 1px;
      border-radius: 0.2em;
    }
  }
  &.even{
    &>a {background-color: #f0f0f0;}
  }
  &:first-of-type a {border-radius: .2em .2em 0 0;}
  &:last-of-type a {border-radius: 0 0 .2em .2em;}
  &.active{
    &>a b.highlight{
      background-color: #5F9BCF;
    }
    &>a>span.index{
      color:#000;
    }
    &>a, &>a:hover, &>a:active{
      color: #fff;
      text-decoration: none;
      outline: 0;
      background-color: #77ACD9;
    }
  }
}
