form(ng-submit='formUnidade.salvar()')
  .align-center.sc-text-gray(style='max-width: 70em; width: 100%; margin: 0 auto')
    .zebra
      .clear.sc-text-bold.sc-p-v-xs(ng-repeat='item in formUnidade.params')
        .sc-p-v-sm.col-sm-3 {{ item.unidade_nome }}
        .sc-p-none.col-sm-9
          .sc-p-v-sm.col-sm-6
            input.sc-input-default.sc-text-sm(type='number' tabindex='1' ng-model='item.anterior' style='max-width:100%')

          .sc-p-v-sm.col-sm-6
            input.sc-input-default.sc-text-sm(type='number' tabindex='1' ng-model='item.atual' style='max-width:100%')
        .clear
      .clear.sc-text-bold.sc-p-v-xs(ng-if='!formUnidade.params.length')
        .sc-p-v-sm
          | Nenhuma unidade foi encontrada
